spacy
numpy
pandas
jupyterlab
beautifulsoup4
wordcloud
colored
gitpython
PyGithub
requests
gdown
pygit2
gsutil
upsetplot
venn
seaborn
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability